
<h2>{{question.subject}}</h2> <h1>Questions with more than 3 answers will receive a fire icon -</h1><br> {{question-popularity question}} <br> <br>
By {{question.owner}} <br>
<p>{{question.query}}</p>
<ul>
    {{#each question.answers as |answer|}}
      {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
      <button {{action 'deleted' answer}}>Delete Answer</button>
    {{/each}}
</ul>
