<h2>{{question.subject}}</h2>
By {{question.owner}} <br>
<p>{{question.query}}</p>


<ul>
  {{#each model.answers as |answer|}}
    <li> By {{answer.author}} - {{answer.response}} </li>
  {{/each}}
</ul>
