<h1>Click a Question to View it </h1>
 {{new-question saveQuestion="saveQuestion"}}
<ol>
  {{#each model.questions as |question|}}
    {{question-popularity question}} {{question-tile question=question}}
  {{/each}}

</ol>
<h2> All Reviews of responses</h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}}  - by {{review.author}}</li>
      {{/each}}
      </ul>
      {{new-review saveReview="saveReview"}}
{{#link-to 'about'}}About{{/link-to}}
