{{#link-to 'index'}}Home{{/link-to}} <br>
<h2>More information about {{question.query}}</h2>

{{question-detail  question=model}}
{{update-tile question-tile question=model update="update" destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
<h2> Responses </h2>

{{new-answer saveAnswer="saveAnswer" question=model}}
<h2> All Reviews of responses</h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}}  - by {{review.author}}</li>
  {{/each}}
</ul>
{{new-review saveReview="saveReview"}}
