<h2>More information about {{question.owner}}'s {{question.query}}</h2>

{{question-detail  question=model destroyQuestion="destroyQuestion"}}
{{update-tile question-tile question=model update="update"}}
{{new-answer saveAnswer="saveAnswer" question=model}}
